p {
    display: inline-block;
    margin: 2px;
    font-size: 15px;
}

.SMUMC-nav{
    width:90%;
    height: 70px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-logo-container{
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 60px;
    padding: 5px;
}

.nav-menu{
    display: flex;
    gap: 20px;
}